[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
dj-database-url = "*"
dj-static = "*"
django-taggit = "*"

[dev-packages]
pylint = "*"
model-mommy = "*"

[requires]
python_version = "3.6"
